---
layout: default
title: Blog - SN Creative
description: Blog
---

<div class="main">
<div class="container">

<div class="row">
<div class="col-md-12">
<h2>Latest Posts</h2>
</div>
</div>


<div class="row equal-height">

{% for post in paginator.posts %}
<div class="col-md-4">
<div class="cards">
{% if post.image %} <img src="{{ post.image }}" class="img-fluid"> {% endif %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
</div>
</div>
{% endfor %}

</div>

{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
{% else %}
<span class="previous">Previous</span>
{% endif %}

<span class="page_number ">
Page: {{ paginator.page }} of {{ paginator.total_pages }}
</span>

{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}" class="next">Next</a>
{% else %}
<span class="next ">Next</span>
{% endif %}
 

</div>
</div>